{% extends 'base.html' %}
{% from 'macros.html' import qux %}

{% block head %}
<style type="text/css">
	div1{position:relative;}
	div1 p{position:absolute;left:120px;top:-100px;font-size:18pt;text_align:center}
</style>
{% endblock %}

{% block sidebar %}
{% set name='bar' %}
                <li><a href="schedule">每日打卡</a></li>
                <li><a href="create_card_meta">分组管理</a></li>
                <li><a href="memory_meta">开始学习</a></li>
                <li><a href="memorize_meta">学习记录</a></li>
                <li class="active"><a href="user">个人信息</a></li>
{% endblock %}

{% block content %}



<form method="post">
    {{ dat.csrf_token }}
    {{dat.username.label}}
    {{dat.username(class="form-control")}}
    {{dat.password.label}}
    {{dat.password(class="form-control")}}
    {{dat.register_code.label}}
    {{dat.register_code}}
    {{dat.submit(class="saveButton btn btn-lg btn-primary")}}
</form>
<br>
<a href="register">登录</a>


{% endblock %}
